body{
  background-color: ivory;
  color: darkblue;
  margin: 10px 50px 10px 50px;
}

h1, h2{
  color: blue;
  font-family: 'Oswald', serif;
}

p{
  font-family: 'Open+Sans', serif;
}

img{
  float:left;
}

/* 17m 0.7s */


