body{
  font-family: 'Open Sans', SansSerif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background: ivory;
}

h1 h2{
  font-family: 'Oswald', SansSerif;
  column-span: none;
}

img{
  float: left;
}

/* 6m 20.9s */

#history{
  display:flex;
}

#history div{
  flex:1;
  margin-left: 20px;
  margin-right: 20px;
}

#nav ul{
  list-style-type: none;
}

#nav li{
  display: inLine;
}

#nav a{
  margin-left: 20px;
  margin-right: 20px;
}